@using Restaurant.Models;
@model Customer;

@{
    ViewData["Title"] = @Model.Name;
}

<h2>Customer number @Model.Id: @Model.Name</h2>
<h3>Past orders:</h3>
<ul>
    @{
        foreach (var order in Model.PastOrders)
        {
            <li>@order</li>
        }
    }
</ul>